html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
}
/* ------------------------------------------------------------- */
body {
    background: #434343;
    font-family: 'Arial';
}
.game__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}
.game__block {
    background: #c1b6aa;
    width: 529px;
    height: 529px;
    border: 16px solid #978c83;
    border-radius: 4px;
    .game__row {
        display: flex;
        width: 500px;
        height: 125px;
        .game__case {
            width: 133px;
            height: 125px;
            background: #CDC0B4;
            border: 10px solid #978c83;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 55px;
            color: #645c54;
        }
    }
}
.two {
    background: #EEE4DA !important;
}
.four {
    background: #EDE0C8 !important;
}
.eight {
    background: #F2B179 !important;
    color: #fff !important;
}
.sixteen {
    background: #F59563 !important;
    color: #fff !important;
}
.thirty_two {
    background: #F67C5F !important;
    color: #fff !important;
}
.sixty_four {
    background: #F65E3B !important;
    color: #fff !important;
}
.hundred_twenty_eight {
    background: #EDCF72 !important;
    color: #fff !important;
}
.two_hundred_fifty_six {
    background: #EDCA64 !important;
    color: #fff !important;
}
.five_hundred_twenteen {
    background: #EDC651 !important;
    color: #fff !important;
}
.prev_last_number {
    background: #E6CB46 !important;
    color: #fff !important;
}
.last_number {
    background: #ECC230 !important;
    color: #fff !important;
}