body{
    background-color: #e39724;
    font-family: 'Arial';
    color: #fff;
}
.container{
    padding-top: 100px;
}
.title{
    text-align: center;
    text-transform: uppercase;
}
.buttons{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.start,
.stop,
.reset{
    background: none;
    padding: 20px 60px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 22px;
    border-radius: 5px;
    &:hover{
        background-color: #fff;
        cursor: pointer;
        color: #e39724;
        transition-duration: 0.6s;
    }
}