$color-1: #fff;
$color-2: linear-gradient(180deg, #1E1E1E 0%, #1E1E1E 100%);
$color-3: #000;
$color-4: #999;
$color-5: #282828;
$color-6: rgba(255, 255, 255, 0.15);
$color-7: #1DB954;
$color-8: #181818;
$color-9: #B4B4B4;
$color-10: #535353;